<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vesalius">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vesalius"
        tools:targetApi="31">
        <activity
            android:name=".CriarConteudoView"
            android:exported="false" />
        <activity
            android:name=".SalaProfessorView"
            android:exported="false" />
        <activity
            android:name=".RankingQuizView"
            android:exported="false" />
        <activity
            android:name=".FinalQuizView"
            android:exported="false" />
        <activity
            android:name=".QuestaoQuizView"
            android:exported="false" />
        <activity
            android:name=".QuizSelecionadoView"
            android:exported="false" />
        <activity
            android:name=".AssuntoQuiz"
            android:exported="false" />
        <activity
            android:name=".QuizInicio"
            android:exported="false" />
        <activity
            android:name=".ComoJogarView"
            android:exported="false" />
        <activity
            android:name=".ConteudoView"
            android:exported="false" />
        <activity
            android:name=".QuizAlunoAcompanhadoView"
            android:exported="false" />
        <activity
            android:name=".CriarConteudoProfView"
            android:exported="false" />
        <activity
            android:name=".CodigoSalaView"
            android:exported="false" />
        <activity
            android:name=".SaibaMaisVew"
            android:exported="false"
            android:parentActivityName=".LoginView" />
        <activity
            android:name=".EditarDadosView"
            android:exported="false"
            android:parentActivityName=".LoginView" />
        <activity
            android:name=".HomeAlunoAcomView"
            android:exported="false" />
        <activity
            android:name=".HomeProfessorView"
            android:exported="false" />
        <activity
            android:name=".OnBoardView"
            android:exported="false" />
        <activity
            android:name=".LoginView"
            android:exported="false" />
        <activity
            android:name=".HomeAlunoIndView"
            android:exported="false"
            android:parentActivityName=".LoginView" />
        <activity
            android:name=".CriarContaView"
            android:exported="false" />
        <activity
            android:name=".TipoContaAlunoView"
            android:exported="false"
            android:parentActivityName=".TipoContaView" />
        <activity
            android:name=".TipoContaView"
            android:exported="false"
            android:parentActivityName=".LoginView" />
        <activity
            android:name=".RecuperarSenhaView"
            android:exported="false"
            android:parentActivityName=".LoginView" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenView"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>